.body{
    margin-left:40px;
    margin-right: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    align-items: start;
}


/* test css: make sure to change this afterwards */

.grid-item {
    border: 1px solid red;
    /* padding: 10px; */
    text-align: center;
}

.item1 {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    height: 100px;

    background-color: rgb(59, 93, 79);
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #e6e6e6;
}

.navLinks {
    display: flex;
    gap: 40px;
}

.navLinks a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(186, 249, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navLinks a:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    text-decoration: double;
}
.item2 {
    grid-column: span 4;
    background-color: rgb(59, 93, 79);
    height: 400px;
    color: white; /* Set text color for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
}