*{
    box-sizing: border-box;
}
body{
    display: block;
    margin-left:0;
    margin-right:0;
}
/* Grid CSS Start*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}
/* grid border testing start */
.grid-item {
    border:1px solid red;
}
/* grid border test end */
/* spanning across 4 columns */
.item1, .item2{
    grid-column: 1/5;
}
/* Grid CSS End */
/* nav bar CSS Start*/
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:rgb(59, 93, 79);
    color: #fff;
    }
   
    .logo {
    text-decoration: none;
    color: #fff;
    }
   
    .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
   
    .nav-links li a {
    text-decoration: none;
    color: rgb(106, 140, 126);
    padding: 8px 16px;
    }
   
    .nav-links li a:hover {
    color: rgb(181, 211, 204);
    transition: 0.2s ease-in-out;
    }
/* Nav bar CSS End */