*{
    box-sizing: border-box;
}
body{
    display: block;
    margin-left:0;
    margin-right:0;
    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Grid CSS Start*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
/* grid border testing start */
/* .grid-item {
    border:1px solid red;
} */
/* grid border test end */
/* spanning across 4 columns */
.item1, .item2{
    grid-column: 1/5;
}
/* Grid CSS End */
/* nav bar CSS Start*/
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    padding: 15px 10%;
    background-color:rgb(59, 93, 79);
    color: #fff;
    }
   
    .logo {
    text-decoration: none;
    color: #fff;
    }
   
    .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
   
    .nav-links li a {
    text-decoration: none;
    color: rgb(106, 140, 126);
    padding: 8px 16px;
    }
   
    .nav-links li a:hover {
    color: rgb(181, 211, 204);
    transition: 0.2s ease-in-out;
    }
/* Nav bar CSS End */
/* Banner CSS Start */

.banner {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color:#3b5d4f; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    Height:300px;
  }

  .text-content {
    flex: 1;
    max-width:275px;
  }

  .text-content h1 {
    font-size: 234%;
    margin-bottom: 10px;
  }

  .text-content p {
    font-size: 0.7em;
    margin: 0;
    max-width: 100%;
  }

  .image-container {
    flex: 1;
    display: flex;
    position:relative;
    justify-content: flex-end;
    /* border:1px solid red; */
  }

  .banner-img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    z-index: 1;
  }
  .dots{
    position: absolute;
    top:30px;
    right:0;
    height:160px;
    width:230px;
    
    display:inline;
    z-index: 0;
  }
  .container{
      margin-top:15px;
  }
  .container a{
      text-decoration: none;
  }
  
  .button{
      display: inline;
      border:1px solid black;
      font-family: Arial, Helvetica, sans-serif;
      /* testing */
      padding:10px 20px;
  }
  .yellow-button{
      background-color:rgb(245, 191, 49);
      color:black;
      border-radius: 20px;
      font-weight: bold;
      font-size:small;

  }
  .transparent-button{
      border:1px solid rgb(224, 224, 224);
      border-radius: 20px;
      
      font-weight: bold;
      font-size: small;
      text-decoration: none;
      color:rgb(224, 224, 224);
      
  }


/* Banner CSS End */

